﻿@model WilliamQuiz.Models.QuizModels.Question

<div>
    @Html.HiddenFor(x => x.ID)
    
    @Model.QuestionString
    @foreach (var a in Model.Answers)
    {
        @Html.HiddenFor(x => x.Answers.Where(y => y.ID == a.ID).FirstOrDefault().AnswerString)
        <p>
            @Html.RadioButtonFor(b => b.SelectedAnswer, a.ID)  @a.AnswerString
        </p>
    }
</div>

