﻿@model WilliamQuiz.Models.QuizModels.Evaluation

@{ 
    var totalNumberOfQuestions = Model.Questions.Count();
    var numberOfCorrectAnswers = Model.Questions.Where(q => q.WasCorrect).Count();
}

<h2>Facit</h2>
<div>
    Du hade @numberOfCorrectAnswers rätta svar av @totalNumberOfQuestions möjliga
</div>
@foreach (var question in Model.Questions) {
    <div>
        @question.QuestionString
        @if (question.WasCorrect)
        {
            <span>Du svarade rätt</span>
        }
        else
        {
            <span>Du svarade fel</span>
            <br />
            <span>Rätt svar: @question.Answers.Where(a => a.IsCorrect).FirstOrDefault().AnswerString</span>
        }

    </div>
    <br />
}
