﻿@{
    ViewBag.Title = "Home Page";
}
@model WilliamQuiz.Models.QuizModels.Evaluation


    <!--https://stackoverflow.com/questions/12844763/getting-a-list-of-radio-button-values-in-asp-mvc-3
        https://getmdl.io/templates/index.html
        -->

<h2>Williams Quiz</h2>
@using (Html.BeginForm())
{
    @Html.EditorFor(x => x.Questions)
    <input type="submit" />
}


